.idea/
Audio/
build/*.pyc
build/outputs/
empty_project_db.zip
evaluation/
final_report_hand_in.pages
frbr/
info/
info/agreements/
info/assessment criteria.pdf
librosa/
lium/
MIRtoolbox/
orientdb/
submission/
*.png
